<%= image_tag(@book.image_url(:default)) %>
<p>Name of book: <%=@book.namebook %></p><br>
<p>Name of author: <%=@book.nameauthor %></p><br>
<p>Description : <%=@book.description %></p><br>
<p>Price:<%= @book.price%></p><br>
<p>Sold by <%= @book.user.name %></p><br>
<%= button_to "Add to cart",line_items_path(book_id: @book)%>
<% if book_author(@book)%>
<%= link_to 'Delete', book_path, method: :delete, data: { confirm: "Are you sure ?" } %>
<%= link_to 'Edit',edit_book_path(@book)%>
<% end %>
<%= link_to "Back",books_path%>
