<div class="card">
  <div class="card__product">
          <div class="card__left">
                <%= render(@cart.line_items) %>
          </div>
        <div class="card__right">
          <div class="card__box">
            <div class="card__del">
                  <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: "Are you sure? " },class:"btn btn-del" %>
            </div>
            <div class="card__payment">
              <div class="row">
                <div class="col-1-of-3">
                    <h4 class="heading-total">Total</h4>
                </div>
                <div class="col-2-of-3">
                  <h3 class="heading-price"><%= number_to_currency(@cart.total_price) %></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- <h1><%= link_to 'Keep Shopping', books_path %></h1> -->
<!-- <h2 class="heading-frist">Cart
  <span class="heading-fristsub">(<%= items_number %> product)</span>
</h2> -->
