<!DOCTYPE html>
<html>
  <head>
    <title>Shopps</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
     <section class="content" style="min-height: auto;">
       <% flash.each do |key, value| %>
         <div class="row">
           <div class="alert alert-<%= key %>">
             <%= value %>
           </div>
         </div>
       <% end %>
     </section>
  <h1><%= link_to "Store",root_path%></h1><br>
   <% if user_logged_in? %>
      <%= link_to "Sell",new_book_path  %>
      <%= link_to current_user.email,user_path(@current_user)%>
      <%= link_to 'Login Out', session_path(@current_user), method: :delete ,data: { confirm: "Are you sure ?" }%>

  <% else %>
      <%= link_to "Login",new_session_path%>
      <%= link_to "Register", new_user_path %>
   <% end %>
      <%= link_to "Cart",cart_path(@cart)%>
     <%= yield %>
   </body>

</html>
